/* Basics */
body {
    background-color: #fff;
}

h1 {
    text-align: center;
}

/* Navbar */
.uk-navbar-container {
    height: 50px;
    background-color: rgb(48, 65, 72, 1.0) !important;
}

.uk-navbar-nav>* {
    height: 55px;
}

.uk-navbar-nav>li>a {
    min-height: 55px !important;
    color: white !important;
    text-transform: none !important;
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    font-size: 15px !important;
}

.uk-navbar-nav>li>a:hover {
    color: rgba(255, 255, 255, 0.8) !important;
}

.uk-navbar-nav>li>a>img {
    filter: invert(100%) !important;
    height: 15px;
    width: 15px;
}

/* Buttons */
button {
    background-color: #fff;
    color: #000;
    width: 100%;
    height: 70px;
    border: none;
    padding-left: 30px;
    font-size: 18px;
    margin: 0px !important;
    text-align: left;
    cursor: pointer;
}

button:hover, button:active {
    background-color: rgba(0, 0, 0, 0.05);
}

button:focus {
    outline: none;
}

.top_button {
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 14px;
    height: 50px;
    padding: 0px;
    background-color: rgb(79, 91, 98, 1.0);
    color: white;
}

.top_button:hover, .top_button:focus {
    background-color: rgb(48, 65, 72, 1.0);
}

.top_button.active {
    background-color: rgb(48, 65, 72, 1.0);
}

/* Grid */
.collapsible {
    margin-top: 10px;
}

.collapsible>img {
    float: right;
    margin-right: 20px;
    height: 15px;
    width: 15px;
    transition: .1s ease transform;
}

.collapsible.active img {
    transform: rotate(90deg);
}

/* Grid Cards */
.uk-card {
    cursor: pointer;
}

.chapter-buttons {
    display: none;
    margin-right: 10px;
    margin-left: 10px;
    opacity: 0;
    padding: 10px 0 10px 0;
    transition: .3s ease-in-out opacity, .3s ease-in-out transform;
}

.chapter-buttons .uk-card:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.chapter-buttons .uk-card-body {
    padding: 20px 20px !important;
}

/* Text Layout */
.bible-text {
    margin: 20px;
}

.bible-text>p {
    margin-bottom: 10px;
}

.bible-text>h4 {
    font-weight: bold;
}

/* Date Card */
.date-card .uk-card {
    height: 70px !important;
    text-align: center !important;
    margin-bottom: 5px !important;
    background-color: rgba(255, 255, 255, 0.8);
}

.date-card .uk-card p {
    padding: 12px 0 0 0;
    margin: 0;
    font-size: 9px;
    font-weight: 200;
    letter-spacing: 1px;
    color: black;
}

.date-card .uk-card h4 {
    padding: 0;
    margin: 0;
    font-size: 28px;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1.0 !important;
    color: black;
}

.date-card .uk-card:hover {
    cursor: default;
}

/* Today's Reading Card */
.todays-reading-button-titles {
    width: 80%;
    display: inline-block;
}

.todays-reading-button h5 {
    margin: 0 !important;
    font-size: 20px;
}

.todays-reading-button p {
    margin: 0 !important;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.todays-reading-button img {
    float: right;
    margin-right: 20px;
    height: 15px;
    width: 15px;
    margin-top: 15px;
}

#copyright {
    text-align: center;
    margin: 10px auto;
    display: table;
    font-size: 12px;
    font-style: italic;
}

@media (max-width: 768px) {
    #copyright {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Copyright Fade */
.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }